alias ls="ls --color=tty"
alias vi="vim"
alias gco="git co"
alias gci="git ci"
alias gst="git st"
alias gbr="git br"
alias ghi="git hi"
alias gty="git ty"
alias gdu="git du"
alias gol="git on"
alias gla="git la"
alias glo="git lo"
alias ggr="git gr"

alias server="python -m SimpleHTTPServer"

alias mosh='mosh --server="LANG=$LANG mosh-server"'

alias vpnstop='f5fpc --stop'
alias vpnstatus='f5fpc --info'

alias python=python3
alias hiber='sudo pm-hibernate'
alias upup='sudo apt update && sudo apt upgrade && sudo apt autoremove && sudo apt clean'
