[user]
	name = Ranjhith Kalisamy
#email = user@domain.com

[color]
	status = auto
	diff = auto
	interactive = auto
	branch = auto
	ui = auto

[core]
	editor = vim
	quotepath = false
	preloadindex = true
	fscache = true

[github]
	user = ranjhith

[include]
# https://github.com/GitAlias/gitalias	
# If submodule isn't inited, get it with "curl -O https://raw.githubusercontent.com/GitAlias/gitalias/master/gitalias.txt"	
	path = gitalias.txt

[alias]
#	co = checkout
#	ci = commit
#	st = status -sb
#	br = branch
#	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
#	ty = cat-file -t
#	du = cat-file -p
#	on = log --pretty=oneline
#	lo = log
#	gr = grep -n
#	cp = cherry-pick
#	df = diff --word-diff

[filter "trimWhitespace"]
	clean = git-stripspace

[gc]
	auto = 256
